body {
    background-image: url("imagenes/neptuno.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Verdana";
}

#menu {
    color: white;
    text-align: center;
    border: hidden double blue;
    text-decoration-color: cornsilk;
}
 
#imagen {
    text-align: center;
}